<footer class="container text-center p-3">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-2">
      <ul>
        <span>About</span>
        <li><a href="">About Tripma</a></li>
        <li><a href="">How it works</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Press</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
    <div class="col-2">
      <ul>
        <span>Partner with us</span>
        <li><a href="">Community</a></li>
        <li><a href="">Integrations</a></li>
        <li><a href="">Loyalty Program</a></li>
        <li><a href="">Connect</a></li>
      </ul>
    </div>
    <div class="col-2">
      <ul>
        <span>Support</span>
        <li><a href="">Help Center</a></li>
        <li><a href="">Contact us</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Accessibility</a></li>

      </ul>
    </div>
    <div class="col-2">
      <ul>
        <span>Get the App</span>
        <li><a href="">For Android</a></li>
        <li><a href="">For iOS</a></li>
        <li><a href="">Mobile site</a></li>
        <div class="footer__apps">
          <div class="footer__apps__item"></div>
          <div class="footer__apps__item"></div>
        </div>
      </ul>
    </div>
  </div>
  <div class="row footer__icons">

  </div>
</footer>