<section class="position-relative">
  <div><button class="btn btn-primary w-100 rounded-0">Đăng kí tài khoản mới để
      nhận voucher giảm 25% cho chuyến đi lần đầu tiên ngay!!!</button></div>
  <div class="width-header">
    <div class="card-header row m-0">
      <div class="col-1">
        <a class="" href="#"><img
            src="https://storage.googleapis.com/fe-production/icon_vxr_full.svg"
            alt="logo"
            width="148"
            height="33"
          /></a>
      </div>
      <ul class="nav nav-pills card-header-pills nav justify-content-end col">
        <li class="nav-item">
          <a class="nav-link" href="#">Trở thành đối tác</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quản lí đơn hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="qna.html">Trả lời câu hỏi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hotline: 0991212383</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="Signupin.html">Đăng nhập</a>
        </li>
      </ul>

    </div>
  </div>
</section>