<form action="/blogs" method="post" class="d-flex flex-column col-6 m-auto">
  <section class="d-flex justify-content-between">
    <label for="title">Title:</label>
    <input class="w-75" type="text" id="title" name="title" required />
  </section>

  <section class="d-flex justify-content-between">
    <label for="author">author:</label>
    <input class="w-75" type="text" id="snippet" name="author" required />
  </section>

  <section class="d-flex justify-content-between">
    <label for="content">Content:</label>
    <textarea
      class="w-75"
      type="text-area"
      id="content"
      name="content"
    ></textarea>
  </section>
  <button
    type="submit"
    class="btn btn-sm btn-success w-50 m-auto"
  >Submit</button>
</form>