$font-primary: Poppins;
$main-background: #e6f5ff;
$color-purple:#605dec;
$color-white:white;
$color-black:black;
$color-gray:#6e7491;
$color-yellow:#ffc700;
$color-blue:#2a26d9;
$color-lblue: #e6f5ff;
