
@use 'root.scss';
@import 'mixins.scss';

body {
    font-family: Poppins;
}



.bg-box {
    background-color: #E5F2FC;
    height: 100vh;
    width: 100%;
    display: flex;

    label {
        color: black;
    }

    h1 {
        color: root.$color-purple;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        align-items: center;
    }

    .img-bg {
        position: absolute;
        width: 100vw;
        object-fit: cover;
        height: 80vh;
        z-index: 10;
        opacity: 0.3;
    }
}

.groupbox {
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        z-index: 20;

        .img-bg {
            top: -25%;
            left: -80%;
        }

        h1 {
            color: root.$color-purple;

            color: root.$color-purple;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
        }

        .btn-primary {
            background-color: root.$color-purple;
            border-radius: 20px;
        }
}

.info-box {
    h2 {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    z-index: 20;
}

    .ttdh {
        justify-content: flex-start;
    }

    .bg-box-info {
        height: 60vh;
        width: 70vw;
        margin: auto;
        flex-direction: column;
        @include flex-center;
        position: relative;

    }

    .info-box {
        padding: 2rem;
        flex-direction: column;
        @include flex-center;
        background-color: white;
        border-radius: 20px;
        width: 100%;

        section {
            display: flex;
            width: 100%;
        }

        .QRcode {
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .interaction {
            display: flex;
            width: 60%;
            justify-content: space-around;

            .btn- {
                &download {
                    background-color: #b881f9;
                }

                &email {
                    background-color: #ffc700;
                }

                &pdf {
                    background-color: #f28708;
                }
            }
        }
    }

.ttdh {
    justify-content: flex-start;
}

.qna {
    text-align: justify;
    background-color: root.$color-lblue;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;

    .chc {
        background-color: root.$color-purple;
        width: 20vh;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;
        margin: auto;
        color: root.$color-white;
    }

}

.success {
    position: absolute;
    @include flex-center;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;

    button {
        border-radius: 10px;
        background-color: root.$color-purple;
        color: root.$color-yellow;
        padding: auto;
    }

    backdrop-filter: blur(10px);
    z-index: 30;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    font-weight: bold;
    color: green;

}

.failure {
    position: absolute;
    @include flex-center;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;

    button {
        border-radius: 10px;
        background-color: root.$color-purple;
        color: root.$color-yellow;
        padding: auto;
    }

    backdrop-filter: blur(10px);
    z-index: 30;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    font-weight: bold;
    color: red;
}


.payment-group {

    flex-wrap: nowrap;

    .option-method {


        border-radius: 20px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        div {
            border-bottom: 1px solid black;
            font-size: 20px;
        }
    }

    .payment-info {


        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 20px;
            border: 2px solid black;
            height: 65vh;

        }

        ul {
            margin: 0;
        }

        .sum {
            font-weight: bold;
            font-size: 1.3rem;

        }

        .btn-primary {
            display: block;
            margin: auto;
            width: 80%;
            background-color: root.$color-purple;
            color: root.$color-yellow;

        }

        .coupon {
            background-color: root.$color-lblue;
        }
    }
}