

@use 'root.scss';
@import 'mixins.scss';
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: root.$main-background;
}



.bg-box {
    background-color: #E5F2FC;
    height: 100vh;
    width: 100%;
    display: flex;

    label {
        color: black;
    }

    h1 {
        color: root.$color-purple;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        align-items: center;
    }

    .img-bg {
        position: absolute;
        width: 100vw;
        object-fit: cover;
        height: 80vh;
        z-index: 10;
        opacity: 0.3;
    }
}

.groupbox {
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        z-index: 20;

        .img-bg {
            top: -25%;
            left: -80%;
        }

        h1 {
            color: root.$color-purple;

            color: root.$color-purple;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
        }

        .btn-primary {
            background-color: root.$color-purple;
            border-radius: 20px;
        }
}

.info-box {
    h2 {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    z-index: 20;
}

    .ttdh {
        justify-content: flex-start;
    }

    .bg-box-info {
        height: 60vh;
        width: 70vw;
        margin: auto;
        flex-direction: column;
        @include flex-center;
        position: relative;

    }

    .info-box {
        padding: 2rem;
        flex-direction: column;
        @include flex-center;
        background-color: white;
        border-radius: 20px;
        width: 100%;

        section {
            display: flex;
            width: 100%;
        }

        .QRcode {
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .interaction {
            display: flex;
            width: 60%;
            justify-content: space-around;

            .btn- {
                &download {
                    background-color: #b881f9;
                }

                &email {
                    background-color: #ffc700;
                }

                &pdf {
                    background-color: #f28708;
                }
            }
        }
    }

.ttdh {
    justify-content: flex-start;
}

.qna {
    text-align: justify;
    background-color: root.$color-lblue;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;

    .chc {
        background-color: root.$color-purple;
        width: 20vh;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;
        margin: auto;
        color: root.$color-white;
    }

}

.success {
    position: absolute;
    @include flex-center;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;

    button {
        border-radius: 10px;
        background-color: root.$color-purple;
        color: root.$color-yellow;
        padding: auto;
    }

    backdrop-filter: blur(10px);
    z-index: 30;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    font-weight: bold;
    color: green;

}

.failure {
    position: absolute;
    @include flex-center;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;

    button {
        border-radius: 10px;
        background-color: root.$color-purple;
        color: root.$color-yellow;
        padding: auto;
    }

    backdrop-filter: blur(10px);
    z-index: 30;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    font-weight: bold;
    color: red;
}


.payment-group {

    flex-wrap: nowrap;

    .option-method {


        border-radius: 20px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        div {
            border-bottom: 1px solid black;
            font-size: 20px;
        }
    }

    .payment-info {


        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 20px;
            border: 2px solid black;
            height: 65vh;

        }

        ul {
            margin: 0;
        }

        .sum {
            font-weight: bold;
            font-size: 1.3rem;

        }

        .btn-primary {
            display: block;
            margin: auto;
            width: 80%;
            background-color: root.$color-purple;
            color: root.$color-yellow;

        }

        .coupon {
            background-color: root.$color-lblue;
                   }
    }
}
            
            
            



.booking {
    box-sizing: border-box;
    margin: auto;
    width: 90%;
    height: 100vh;
    button {
        padding: 0.5rem 0;
        color: white;
        border-radius: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: root.$color-purple;
        &:hover {
            @include transition-swing;
        }
    }
    .booking__main {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        .booking__section {
            padding: 1rem;
            background-color: #cfdcfc;
            border-radius: 20px;
        }
        .booking__section-controls,
        .booking__section-title {
            margin: auto;
            display: flex;
            padding: 0.5rem 1rem;
            justify-content: space-between;
            i {
                color: #5686e1;
                font-size: 1rem;
                margin: 0.2rem;
            }
            span {
                font-size: 1rem;
            }
            .reset-btn,
            .filter-btn {
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
        }
        .booking__section-title {
            span,
            i {
                font-size: 1.5rem;
                b {
                    margin-left: 2rem;
                }
            }
            padding-bottom: 2rem;
            border-bottom: solid 3px black;
        }
        .booking__section-sort {
            padding: 1rem;
            display: flex;
            justify-content: space-around;
            span:not(:first-child) {
                cursor: pointer;
                &:hover {
                    transform: scale(1.3);
                    transition: ease 0.2s;
                }
            }
            .active {
                color: root.$color-purple;
                font-weight: 600;
            }
            border-bottom: solid 1px black;
        }
    }
    .options-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        .option-box {
            display: flex;
            flex-wrap: wrap;
            background-color: #dbe5fd;
            border-radius: 20px;
            padding: 0.75rem;
            text-align: center;
            &:hover {
                box-shadow: root.$shadow-3d;
            }
            input[type="range"] {
                width: 80%;
                margin: auto;
            }
            span {
                font-size: 0.8rem;
                font-weight: 500;
                color: root.$color-purple;
            }
            .option-title {
                width: 100%;
                font-size: 1rem;
                font-weight: 300;
                color: #414091;
            }
            section {
                margin-bottom: 0.5rem;
                padding: 0.5rem 0;
                font-size: 0.6rem;
                background-color: #fefeff;
                border-radius: 20px;
                color: grey;
                cursor: pointer;
                &:hover {
                    background-color: root.$color-purple;
                    color: white;
                    font-weight: 500;
                    @include transition-swing;
                }
            }
            .active {
                background-color: root.$color-purple;
                color: white;
                font-weight: 500;
            }
            .check-list {
                height: 20vh;
                overflow-y: scroll;
                label {
                    font-size: 0.8rem;
                }
            }
            .rating {
                font-size: 1rem;
            }
            i {
                cursor: pointer;
            }
        }
    }
}

.booking-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-height: 200vh;
    overflow-y: scroll;
    .booking-list__item {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        background-color: #fdfeff;
        border-radius: 20px;
        padding: 1rem;
        &:hover {
            box-shadow: root.$shadow-3d;
        }
        >div:first-child {
            @include flex-center;
            flex-direction: column;
            text-align: center;
            gap: 0.5rem;
            a {
                color: root.$color-purple;
            }
            img {
                box-shadow: root.$shadow-sm;
            }
        }
        >div:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 1rem;
                font-weight: bold;
            }
            .rating {
                text-align: center;
                padding: 0.5rem 0.5rem;
                font-size: 1rem;
                background-color: root.$color-purple;
                border-radius: 20px;
                min-width: 40%;
                color: white;
            }
            .location {
                display: flex;
                gap: 0.1rem;
                flex-direction: column;
                color: root.$color-purple;
                font-size: 1rem;
                span {
                    font-weight: bold;
                }
                .icon-section {
                    color: #a35af8;
                    i:first-child,
                    i:last-child {
                        font-size: 2rem;
                    }
                }
                div:last-child {
                    .price {
                        font-size: 1.5rem;
                        color: #2a26d9;
                    }
                    .old-price {
                        text-decoration: line-through;
                        color: #cdd5e3;
                    }
                    a {
                        padding: 0.5rem 0.5rem;
                        width: 80%;
                        font-size: 1rem;
                        font-weight: bold;
                        background-color: root.$color-yellow;
                        color: root.$color-black;
                        &:hover {
                            color: root.$color-gray;
                            box-shadow: root.$shadow-3d;
                        }
                    }
                }
            }
        }
        &:last-child {
            @include flex-center;
            background-color: #e1eafe;
            h1 {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

.booking__product {
    width: 100%;
    background-color: root.$main-background;
    padding: 2rem;
    .product-header {
        h1 {
            font-weight: bold;
            font-size: 3rem;
            @include text-gradient(root.$color-purple, root.$color-blue);
        }
        p {
            font-size: 2rem;
            color: root.$color-black;
        }
        section:last-child {
            background-color: root.$main-background;
            padding: 1rem;
            border-radius: 20px;
            color: root.$color-purple;
            span {
                font-size: 1.2rem;
                font-weight: 500;
                color: root.$color-black;
            }
            i:first-child,
            i:last-child {
                font-size: 2.5rem;
            }
        }
    }
    img {
        display: block;
        margin: 3rem auto;
        border-radius: 0 30px;
        width: 80%;
        object-fit: cover;
    }
}

.booking__steps {
    height: 100vh;
    .carousel-indicators {
        display: flex;
        width: 50%;
        margin: auto;
        gap: 1rem;
        .active {
            background-color: root.$main-background;
        }
        button {
            border: none;
            outline: none;
            padding: 0.2rem;
            min-width: 3rem;

        }
    }
}