@use 'root.scss';
@use'sass:math';

body {
    font-family: Poppins;
}

header {
    padding-bottom: 1rem;
    border-bottom: 3px solid grey;
    margin-bottom: 1rem;

    h1 {
        text-transform: uppercase;
        font-weight: 900;
        cursor: default;

        &:hover {

            transform: scale(1.3);
            transition: ease 0.5s;
        }
    }

    .navLinks {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 1.2rem;
            text-decoration: none;
            font-weight: 500;
            color: darkgrey;

            &:hover {

                transform: translateY(-20%);
                transition: all 0.3s;
            }
        }
    }
}

form {
    gap: 1rem;

    label {
        font-size: 1rem;

        font-weight: 600;
    }
}

.blogs-list {
    padding: 0.5rem;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.blog {
    border-radius: 5px;
    padding: 1rem;
    background-color: aliceblue;
    padding-left: 1.5rem;
    border-left: 10px solid rebeccapurple;

    .blog-title {
        text-decoration: none;
        font-weight: 700;
        font-size: 2rem;

    }

    .blog-author {
        margin: 0.5rem 0;
        font-weight: 500;
        font-size: 1rem;
        color: #aaa;
    }

    p {
        text-indent: 1rem;
        margin: 0;
    }
}

.booking {
    box-sizing: border-box;
    margin: auto;
    width: 90%;
    height: 100vh;

    button {
        padding: 0.5rem 0;
        color: white;
        border-radius: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: root.$background-color-2;
    }

    .booking__main {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;

        .booking__section {
            padding: 1rem;
            background-color: #cfdcfc;
            border-radius: 20px;
        }

        .booking__section-controls,
        .booking__section-title {
            margin: auto;
            display: flex;
            padding: 0.5rem 1rem;
            justify-content: space-between;

            i {
                color: #5686e1;
                font-size: 1rem;
                margin: 0.2rem;
            }

            span {
                font-size: 1rem;
            }

            .reset-btn {
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }

        .booking__section-title {

            span,
            i {
                font-size: 1.5rem;

                b {
                    margin-left: 2rem;
                }
            }

            padding-bottom: 2rem;
            border-bottom: solid 3px black;
        }

        .booking__section-sort {
            padding: 1rem;
            display: flex;
            justify-content: space-around;

            span:not(:first-child) {
                cursor: pointer;

                &:hover {
                    transform: scale(1.3);
                    transition: ease 0.2s;
                }
            }

            .active {
                color: root.$background-color-2;
                font-weight: 600;
            }

            border-bottom: solid 1px black;
        }
    }

    .options-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;

        .option-box {
            display: flex;
            flex-wrap: wrap;
            background-color: #dbe5fd;
            border-radius: 20px;
            padding: 0.75rem;
            text-align: center;

            input[type="range"] {
                width: 80%;
                margin: auto;
                background: rgba(255, 255, 255, 0.6);
                border-radius: 5px;
                background-image: linear-gradient(#ff4500, #ff4500);
                background-size: 70% 100%;
                background-repeat: no-repeat;
            }

            span {
                font-size: 0.8rem;
                font-weight: 500;
                color: root.$background-color-2;
            }

            .option-title {
                width: 100%;
                font-size: 1rem;
                font-weight: 300;
                color: #414091;
            }

            section {
                margin-bottom: 0.5rem;
                padding: 0.5rem 0;
                font-size: 0.6rem;
                background-color: #fefeff;
                border-radius: 20px;
                color: grey;
                cursor: pointer;

                &:hover {
                    background-color: root.$background-color-2;
                    color: white;
                    font-weight: 500;
                    opacity: 0.5;
                }
            }

            .active {
                background-color: root.$background-color-2;
                color: white;
                font-weight: 500;
            }

            .check-list {
                height: 20vh;
                overflow-y: scroll;

                label {
                    font-size: 0.8rem;
                }
            }

            .rating {
                font-size: 1rem;
            }
        }
    }
}

.booking-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-height: 200vh;
    overflow-y: scroll;

    .booking-list__item {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        background-color: #fdfeff;
        border-radius: 20px;
        padding: 1rem;

        >div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 0.5rem;

            a {
                color: root.$background-color-2;
            }
        }

        >div:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 1rem;
                font-weight: bold;
            }

            .rating {
                text-align: center;
                padding: 0.5rem 0.5rem;
                font-size: 1rem;
                background-color: root.$background-color-2;
                border-radius: 20px;
                min-width: 40%;
                color: white;
            }

            .location {
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                color: root.$background-color-2;
                font-size: 1rem;

                span {
                    font-weight: bold;
                }

                .icon-section {
                    color: #a35af8;

                    i:first-child,
                    i:last-child {
                        font-size: 2rem;
                    }
                }

                div:last-child {
                    .price {
                        font-size: 1.5rem;
                        color: #2a26d9;
                    }

                    .old-price {
                        text-decoration: line-through;
                        color: #cdd5e3;
                    }

                    button {
                        padding: 1rem 0.3rem;
                        width: 80%;
                        font-size: 1rem;
                        font-weight: bold;
                        background-color: #ffc700;
                        color: black;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e1eafe;

            h1 {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}


.header-icon {
    margin-left: 10%;
    width: 10%;
}


.home-img {
    background-image: url("../img/imageHome.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.height-header {
    height: 70%;
}

.width-header {
    width: 98%;
}


.hover-departure:hover .dropdown-menu {
    display: block;
}

.hover-arrival:hover .dropdown-menu {
    display: block;
}

.trip-radien {
    font-size: 6rem;
    background: -webkit-linear-gradient(root.$color-blue, root.$color-purple);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 12vh;
}

.trending-product {
    color: root.$color-gray;
}

.product-item {
    $width: math.div(70vw, 3);

    .img-radius {
        width: $width;
        height: $width;
        object-fit: cover;
        border-radius: 50%;
    }

    .img-square {
        width: $width;
        height: calc($width + 5vw);
        object-fit: cover;
    }

}

.comment {
    .avatar {
        .img-avatar {
            $width: math.div(10vw, 3);
            width: $width;
            height: $width;
            object-fit: cover;
            border-radius: 50%;
        }

    }


}



.footer-col {
    color: root.$color-gray;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    btn-light {
        font-weight: 50;
    }
}

.main-comment {
    .content-comment {
        font-weight: 50;
    }

    .address .date {
        color: root.$color-purple;
    }
}

.rating {
    .checked {
        color: orange;
    }
}

.main {
    background-color: root.$main-background;
}

.decription {
    font-size: 10px;
}

btn-primary {
    background-color: root.$color-purple !important;
}

.app {
    .fa {
        font-size: 40px;
    }
}